@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #D8C97F0D;
}

:root {
  --bg-primary: #f5f8fb;
  --bg-secondary: #ffffff;
  --bg-accent: #D8C97F;

  --border-color: rgba(67, 67, 67, 0.2);

  --text-primary: #0f0f0f;
  --text-secondary: #bbc5d4;
  --text-accent: #B4A04C;
  --text-accent-hover: #B4A04C;
}
